<div>
  <p class="alert alert-info animated bounceInRight" role="alert"><%= get_flash(@conn, :info) %></p>
  <p class="alert alert-danger animated bounceInRight" role="alert"><%= get_flash(@conn, :error) %></p>
  <%= @inner_content %>
</div>
