<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="csrf-token" content={csrf_token_value()}>
    <%= live_title_tag assigns[:page_title] || "#{Fracomex.Utilities.get_page_title_tag(@conn.request_path, Plug.Conn.get_session(@conn, :user_id))}", suffix: " · Fracomex Mayotte" %>
	<link rel="shortcut icon" type="image/icon" href={Routes.static_path(@conn, "/images/favicon.png")}/>
    <!-- CSS Link -->
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")}/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/fontawesome.min.css"/>
	<link rel="stylesheet" href="https://code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/linearicons@1.0.2/dist/web-font/style.min.css"/>

    <!-- JS Link -->
    <script defer phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/assets/app.js")}></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
	<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>  
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
  </head>


  <body>
		<header id="home" class="slide-hero">
			<div class="top-area">
				<div class="header-area">
				    <nav class="navbar navbar-default bootsnav  navbar-sticky">
				        <form action={:search} method="post" class="s" id="search-nav" phx-submit="search-item">
							<input type="hidden" name="_csrf_token" value={Plug.CSRFProtection.get_csrf_token()}>
							<input type="search" class="sb" name="q" autocomplete="off" placeholder="Recherche produits" />
							<button type="submit" class="sbtn lnr lnr-magnifier"></button>
							<i class="sbtn lnr lnr-cross" id="close-search"></i> 
						</form> 
						<div class="nav-page"  data-in="fadeInDown" data-out="fadeOutUp">
							<ul class="navigation">
									<li><a href="/contact"><span class="lnr lnr-map-marker"></span> ZI KAWENI</a></li>	
									<li><a href="/contact"><span class="lnr lnr-phone-handset"></span> 0269 61 25 38</a></li>
									<li><a href="/contact"><span class="lnr lnr-envelope"></span> devis.fracomex@gmail.com</a></li>
									<li><a href="https://www.facebook.com/fracomex/"><i class="fab fa-facebook"></i> facebook</a></li>
									<li><a href="https://www.instagram.com/fracomex/?hl=fr"><i class="fab fa-instagram"></i> instagram</a></li>
							</ul>
							<ul class="link-nav">
									<li><a href="/boutique">Boutique</a></li>
									<li><a href="/contact">Contact</a></li>
							</ul>
						</div>
						<div class="container" style="top: -20px;">            
				            <div class="attr-nav"  data-in="fadeInDown" data-out="fadeOutUp">
				                <ul>
				                	<li class="search">
				                		<a id="search" href=""><span class="lnr lnr-magnifier"></span></a>
				                	</li>
				                	<li class="nav-setting dropdown">
				                		<a href={Routes.users_path(@conn, :signin)} class="dropdown-toggle" data-toggle="dropdown"><span class="lnr lnr-user"></span></a>

										<%= if not is_nil(Plug.Conn.get_session(@conn, :user_id)) do %>
											<ul class="dropdown-menu s-cate" id="user-icon-dropdown">
												<li class="scroll"><a href={Routes.users_path(@conn, :my_orders)}><span class=""></span> Mes commandes</a></li>
												<li class="scroll"><a href={Routes.users_path(@conn, :my_account)}><span class="lnr lnr-user"></span> Mon profil</a></li>
												<li class="scroll"><a href={Routes.users_path(@conn, :my_address)}><span class="lnr lnr-map-marker"></span> Mon adresse</a></li>
												<li class="scroll"><a href={Routes.users_path(@conn, :signout)} style="color: red; opacity: 0.75;"><span class="lnr lnr-exit"></span> Se déconnecter</a></li>
											</ul>
										 <% end %>
				                	</li>
				                    <li class="dropdown">
				                        <a href={Routes.cart_path(@conn, :index)} class="dropdown-toggle" data-toggle="dropdown">
				                            <span class="lnr lnr-cart"></span>
											<span class="badge badge-bg-1">
												<%= if not is_nil(@cart) do %>
													<%= Enum.count(@cart) %>
												<% else %>
													0
												<% end %>
											</span>
				                        </a>

										<ul class="dropdown-menu cart-list s-cate">
											<%= if not is_nil(@cart) and @cart != [] do %>
												<%= for i <- 0..Enum.count(@cart) - 1  do %>
													<li class="single-cart-list">
														<a href="#" class="photo">
															<img src={"/images/big-items/#{Fracomex.Utilities.product_in_cart(@cart, i).image}"} class="cart-thumb" alt="image" />
														</a>

														<div class="cart-list-txt">
															<h6>
																<a href={Routes.cart_path(@conn, :index)}>
																	<%= Fracomex.Utilities.product_in_cart(@cart, i).caption %>
																</a>
															</h6>
															<p><%= Enum.at(@cart, i).quantity %> x - <span class="price"><%= Fracomex.Utilities.price_format(Fracomex.Utilities.product_in_cart(@cart, i).sale_price_vat_excluded) %> €</span></p>
														</div>
													</li>
													
												<% end %>
											<% end %>

											<li class="total">
												<%= if not is_nil(@sum_cart) and @sum_cart != 0 do %>
													<h4>Total: <%= Fracomex.Utilities.price_format_from_float(@sum_cart) %> €</h4>
												<% end %>
											</li>

										<%= if not is_nil(@cart) and @cart != [] do %>
											<%= form_for nil, "/valider-commande", fn f -> %>
												<input type="hidden" name="order_id" value={Plug.Conn.get_session(@conn, :current_order)}>
												<button style="" class="button-cart validate-cart">
												Valider panier
													<input style="display: none;" type="submit" class="single_product_addtocart" value="">
												</button>
											<% end %>
										<% else %>
											<p style="text-align: center;">Votre panier est vide.</p>
										<% end %>
										</ul>

				                    </li>
				                </ul>
				            </div>
				            <div class="navbar-header"  data-in="fadeInDown" data-out="fadeOutUp">
				                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
				                    <i class="fa fa-bars"></i>
				                </button>
				                <a class="navbar-brand" href={Routes.page_path(@conn, :index)}>
									<img src={Routes.static_path(@conn, "/images/fracomex.png")}>
								</a>

				            </div>
				            <div class="collapse navbar-collapse menu-ui-design" id="navbar-menu">
				                <ul class="nav navbar-nav navbar-center" data-in="fadeInDown" data-out="fadeOutUp">
									<!--
				                    <li class={"scroll #{if @conn.request_path=="/", do: "active"}"}><a href={Routes.page_path(@conn, :index)}>Accueil</a></li>
				                    <li class={"dropdown scroll #{if @conn.request_path=="/product", do: "active"}"}>
										<a href={Routes.product_path(@conn, :index)} class="dropdown" data-toggle="">
											Boutique
										</a>

										<ul class="dropdown-menu itemfamilies-dropdown-menu s-cate">
											<%= for family <- Fracomex.Products.list_families() do %>
												 <li class="scroll"><a href="#blog"><%= family.caption %></a></li>
											<% end %>
										 </ul>
									</li>
									
									
				                    <li class="dropdown scroll">				                        
										<a href="#" class="dropdown" data-toggle="dropdown" >
				                            dropdown
				                        </a>
				                        <ul class="dropdown-menu">
				                           <li class="scroll"><a href="#blog">dropdown1</a></li>
										   <li class="scroll"><a href="#blog">dropdown2</a></li>
										   <li class="scroll"><a href="#blog">dropdown3</a></li>
				                        </ul>
				                    </li>
									
				                    
				                    <li class={"scroll #{if @conn.request_path=="/contact", do: "active"}"}><a href={Routes.page_path(@conn, :contact)}>contact</a></li> -->
				                <li class="scroll in-top">
									<a style="cursor: pointer" class="all">
										<span class="lnr lnr-menu" style="font-size: 16px;"></span> Tous les produits
									</a>
								</li>

								<%= for family <- Fracomex.Products.list_limited_families do %>
									<li class="scroll in-top">
										<a href={Routes.product_path(@conn, :family, family.caption)} style={"color: #{if family.id == @selected_family_id and String.contains?(@conn.request_path, "/boutique/"), do: "#e41201"};"}>
											<%= String.capitalize(family.caption) %>
										</a>
									</li>
								<% end %>
								</ul>
				            </div>
				        </div>
				    </nav>
					<!--div class="sidepanel">
						<div class="animated fadeIn">
							<h3 class="title-panel">Catégories des produits</h3>
							<ul class="content-sub" style="overflow-y: auto; min-height: 500px;">
								<%= for family <- Fracomex.Products.list_families_with_subs do %>
									<li class="sub" data-tab={"tab-#{family.id}"}>
									<a href="##">
									<%= family.caption %> 
									<span class="lnr lnr-chevron-right"></span>
									</a>
									</li>
								<% end %>
							</ul>
						</div>
							<%= for family <- Fracomex.Products.list_families_with_subs do %>
								<div id={"tab-#{family.id}"} class="tab-content">
									<ul class="" style="overflow-y: auto; min-height: 460px;">
										<%= for sub_family <- family.sub_families do %>
											<li class="">
											<a href="##"><%= sub_family.caption %></a>
											</li>
										<% end %>
									</ul>
									<a class="return close-ul" style="cursor: pointer;">	
									<i class="fa fa-chevron-left close-ul" aria-hidden="true"></i>
									Retour
									</a>
								</div>
							<% end %>

						<div class="line"></div>
						<div class="hm-side-menu">
						<ul>
							<li class="scroll in-panel"><a href="/">Accueil</a></li>
							<li class="scroll in-panel"><a href="/boutique">Boutique</a></li>
							<li class="scroll in-panel"><a href="/contact">contact</a></li>
							
						</ul>
						</div>
					 <i class="fa fa-times close-side" aria-hidden="true" style="cursor: pointer;"></i>
					</div-->
					<div class="sidepanel">
						<div class="drop-wrapper">
							<h4 class="title-panel">Catégories des produits</h4>
							<ul class="content-sub" style="overflow-y: auto; min-height: 600px; height: 650px;">
								<%= for family <- Fracomex.Products.list_families_with_subs do %>
								<li class="sub" data-target={"#dropright-#{family.id}"}>
									<a style="display: block;" href={Routes.product_path(@conn, :family, family.caption)}>
										<%= family.caption %> 
										<%= if length(family.sub_families) > 0 do %><span class="lnr lnr-chevron-right"></span><% end %>
									</a>

									<div class="drop-menu dropright" id={"dropright-#{family.id}"}>
										<ul class="ul-drop-menu" style="overflow-y: auto; min-height: 600px; height: 650px;">
											<%= for sub_family <- family.sub_families do %>
												<li class="li-drop-menu">
													<a href={Routes.product_path(@conn, :sub_family, family.caption, sub_family.caption)}><%= String.capitalize(sub_family.caption) %></a>
												</li>
											<% end %>
										</ul>
										<i class="lnr lnr-cross close-drop-menu" aria-hidden="true" style="cursor: pointer;"></i>
									</div>
								</li>
								<% end %>
							</ul>
						</div>		
					<i class="lnr lnr-cross close-side" aria-hidden="true" style="cursor: pointer;"></i>
					</div>
					<div class="overlay-panel" style=" display: none;"></div>
				</div>
			    <div class="clearfix"></div>

			</div>
		</header>
    <%= @inner_content %>
	<!--prefooter start -->
		<section id="prefooter"  class="prefooter">
			<div class="container">
				<div class="hm-footer-details">
					<div class="row">
						<div class=" col-md-4 col-sm-6 col-xs-12">
							<div class="hm-footer-widget">
								<div class="hm-foot-title">
									<h4 class="primary-color mb-2">Informations</h4>
									
								</div>
								<div class="hm-foot-menu">
									<p class="mb-4">
									Entreprise d'électricité générale et professionnelle, luminaires, plomberie, Sanitaire, Peinture, Serrurerie, Quincaillerie.
									</p>
									Retrouvez-nous sur
									<div class="footer-social">
										<a href="https://www.facebook.com/fracomex/"><i class="fab fa-facebook fa-2x" href="#"></i></a>
										<a href="https://www.instagram.com/fracomex/?hl=fr"><i class="fab fa-instagram fa-2x" href="#"></i></a>
									</div>
								</div>
							</div>
						</div>
						<div class=" col-md-4 col-sm-6 col-xs-12">
							<div class="hm-footer-widget">
								<div class="hm-foot-title">
									<h4 class="primary-color">Navigation</h4>
								</div>
								<div class="hm-foot-menu">
									<ul>
										<li class="all"><a>Nos produits</a></li>
										<li><a href={Routes.product_path(@conn, :index)}>Boutique</a></li>
										<li><a href="/contact">Contactez-nous</a></li>
									</ul>
								</div>
							</div>
						</div>
				
						<div class=" col-md-4 col-sm-6 col-xs-12">
							<div class="hm-footer-widget">
								<div class="hm-foot-title">
									<h4 class="primary-color">Contact</h4>
								</div>
								<div class="hm-foot-menu">
										<p><span class="lnr lnr-map-marker"></span> Adresse: BP 512 Avenue de l'Europe ZI Kawéni- Mamoudzou</p>
										<p><span class="lnr lnr-phone-handset"></span> Tél: 0269 61 25 38</p>
										<p><span class="lnr lnr-envelope"></span> E-mail: devis.fracomex@gmail.com</p>							
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	<!--/prefooter end-->
	<div class="card cookie-alert">
	<div class="card-body">
		<p class="card-text">
Nous utilisons des cookies pour améliorer votre expérience sur notre site web. En naviguant sur ce site, vous acceptez que nous utilisions des cookies. </p>
		<div class="btn-toolbar" style="display: flex; justify-content: space-between;">
		<button class="refuse-cookie text-start">
            <a class="a-refuse-cookie">Refuser</a>
        </button>
		<button class="accept-cookie text-end">
            <a class="a-accept-cookie accept-cookies" href="#">Accepter</a>
        </button>
		</div>
	</div>
	</div>
    <!--footer start-->
		<footer id="footer"  class="footer">
			<div class="container">
				<div class="hm-footer-copyright text-center">
					<!--div class="footer-social">
						<a href="#"><i class="fab fa-facebook"></i></a>	
						<a href="#"><i class="fab fa-instagram"></i></a>
						<a href="#"><i class="fab fa-linkedin"></i></a>
						<a href="#"><i class="fab fa-pinterest"></i></a>
						<a href="#"><i class="fab fa-behance"></i></a>	
					</div-->
					<p>
						&copy;copyright. | <a href="http://www.phidia.fr" style="font-weight: bold;">Phidia</a> | 2022
					</p>
				</div>
			</div>
			<!--/.scroll-Top-->
			<div id="scroll-Top">
				<div class="return-to-top">
					<i class="fa fa-angle-up " id="scroll-top" data-toggle="tooltip" data-placement="top" title="" data-original-title="Back to Top" aria-hidden="true"></i>
				</div>
			</div>
			
		</footer>
		</body>
  
<script>  
//category side panel
	$('.all').click(function() {
    'use strict'
  $(".sidepanel").addClass("animated slideInLeft").show(); 		
  var spWidth = $('.sidepanel').width();
  var spMarginLeft = parseInt($('.sidepanel').css('margin-left'),10);
  var w = (spMarginLeft >= 0 ) ? spWidth * -1 : 0;
  var cw = (w < 0) ? -w : spWidth-22;
  $('.sidepanel').animate({
    marginLeft:w
  });
  $('.sidepanel span').animate({
    marginLeft:w
  });
  $(".overlay-panel").fadeIn(2000); 
  $("body").addClass("fixed-position"); 
});
$(".close-side").click(function(){
  var spWidth = $('.sidepanel').width();
  var spMarginLeft = parseInt($('.sidepanel').css('margin-left'),10);
  var w = (spMarginLeft >= 0 ) ? spWidth * -1 : 0;
  var cw = (w < 0) ? -w : spWidth-22;
  $('.sidepanel').animate({
    marginLeft:w
  });
  $('.sidepanel span').animate({
    marginLeft:w
  });
  $(".overlay-panel").fadeOut();  
  $("body").removeClass("fixed-position"); 
	});
</script>
<script> 
//password   
var togglePassword = document.querySelector("#togglePassword");
var password = document.querySelector("#password");
$("#togglePassword").click(function(){
// toggle the type attribute
  var type = password.getAttribute("type") === "password" ? "text" : "password";
  password.setAttribute("type", type);
// toggle the eye icon
  this.classList.toggle('fa-eye');
  this.classList.toggle('fa-eye-slash');
});

var toggleConfirmPassword = document.querySelector("#toggleConfirmPassword");
var confirm_password = document.querySelector("#confirm_password");
$("#toggleConfirmPassword").click(function(){
// toggle the type attribute
  var type = confirm_password.getAttribute("type") === "password" ? "text" : "password";
  confirm_password.setAttribute("type", type);
// toggle the eye icon
  this.classList.toggle('fa-eye');
  this.classList.toggle('fa-eye-slash');
});

var toggleCurrentPassword = document.querySelector("#toggleCurrentPassword");
var current_password = document.querySelector("#current_password");
$("#toggleCurrentPassword").click(function(){
// toggle the type attribute
  var type = current_password.getAttribute("type") === "password" ? "text" : "password";
  current_password.setAttribute("type", type);
// toggle the eye icon
  this.classList.toggle('fa-eye');
  this.classList.toggle('fa-eye-slash');
});
</script>


<script>
/* all alert */
$(function() {
setTimeout(function(){ 
	$(".all-alert").hide().fadeOut(5000); }
	, 5000)
})		
</script>	


  <!--script>
  $('.item').each(function() {
    var data = $(this).data('item');
    var availableTags = [
		data
    ];
	
        $('.sb').autocomplete({
            source: availableTags
         });
	});	 
  </script-->
<!--script>
//margin dynamic in hover product
let details_product = <%= Fracomex.Products.list_item_ids() %>
for (let pas = 0; pas <= details_product; pas++) {
  $("#product-"+pas).hover(function () {
     
    $("#name-"+pas).css({ "margin-top" : "150px","transition" : "0.3s", "background-color" : "white", "width" : "100%" });
	  $("#price-"+pas).css({ "margin-top" : "220px","transition" : "0.3s", "background-color" : "white", "width" : "100%" });
}, 
function () {
    $("#name-"+pas).css({ "margin-top" : "210px","transition" : "0.3s", "background" : "none"});
	  $("#price-"+pas).css({ "margin-top" : "280px","transition" : "0.3s", "background" : "none"});
});
}
</script-->
<!--BadBooleanErrorscript>
/* category ul li*/
$(document).ready(function(){
	$('ul #li-category').click(function(){
    $('#li-category').removeClass('current-category');
		$(this).addClass('current-category');
	})
});
</script-->
<!--script>
//up $ down count cart
function increaseCount(a, b) {
	var input = b.previousElementSibling;
	var value = parseInt(input.value, 10);
	value = isNaN(value) ? 0 : value;
	value++;
	input.value = value;
  }
  function decreaseCount(a, b) {
	var input = b.nextElementSibling;
	var value = parseInt(input.value, 10);
	if (value > 1) {
	  value = isNaN(value) ? 0 : value;
	  value--;
	  input.value = value;
	}
  }
</script-->  
<!--script>
//cart close
  $( document ).ready(function() {
	$(".cart-close").click(function(){
		$(this).parents(".single-cart-list").fadeOut();
	});
	$(".cart-remove").click(function(){
		$(".cart-product").fadeOut();
	});
  });
</script-->
<!--script>
/* content ul li in side panel*/
$(document).ready(function(){
	$('.sub').click(function(){
        var tab_id = $(this).attr('data-tab');
        $('.content-sub').hide();
        $('.sub').removeClass('current');
        $('.tab-content').removeClass('current').addClass("animated fadeInLeft");
        $(this).addClass('current');
        $("#"+tab_id).addClass('current');
    });
    $('.close-ul').click(function(){
        var tab_id = $(this).attr('data-tab');
        $('.content-sub').addClass("animated fadeInRight").show();
        $('.sub').removeClass('current');
        $('.tab-content').removeClass('current');
        $(this).addClass('current');
        $("#"+tab_id).addClass('current');
    }); 
});
</script-->
</html>
