

<section class="top-section p-4">
            <div class="container px-4 px-lg-5 my-5" id="shop-banner">
                <div class="text-center">
                    <h1 class="">Validation commande</h1>
                </div>
            </div>
</section>
<div class="container" style="margin-top: 5rem; margin-bottom: 5rem;">
    <div class="row">
		<div class="col-md-12">	

			<table class="table align-middle checkout">
				<thead class="head-table">
					<tr>
						<th scope="col">Produits</th>
						<th scope="col" class="text-center">Prix Unitaire</th>
						<th scope="col" class="text-center">Quantité</th>
						<th scope="col" class="text-center">Prix Total</th>
					</tr>
				</thead>

				<tbody>
					<%= if not is_nil(@cart) and @cart != [] do %>
						<%= for i <- 0..Enum.count(@cart) - 1  do %>
							<tr class="validate-checkout">
								<td>
									<%= Fracomex.Utilities.product_in_cart(@cart, i).caption %>
								</td>
								<td class="item-price"><%= Fracomex.Utilities.price_format(Fracomex.Utilities.product_in_cart(@cart, i).sale_price_vat_excluded) %> €</td>
								<td class="item-qty"><%= Enum.at(@cart, i).quantity %></td>
								<td style="text-align: center;"><%= Fracomex.Utilities.price_format_from_float(Float.round((Enum.at(@cart, i).quantity) * Fracomex.Utilities.price_to_float(Enum.at(@cart, i).product_id))) %>€</td>
							</tr>
						<% end %>
					<% end %>
				</tbody>
			</table>

			<%= if not is_nil(@cart) and @cart != [] do %>
				<table class="table align-middle checkout">
					<thead class="head-table">
						<tr>
							<th>Total</th>
						</tr>
					</thead>

					<tfoot class="foot-table">
						<tr class="text-offset">
							<td colspan="2" class="label-subtotal">Sous-total:</td>
							<td class="subtotal"><%= Fracomex.Utilities.price_format_from_float(@sum_cart) %> €</td>
						</tr>

						<tr class="text-offset">
							<td colspan="2" class="label-payement">Moyen de paiement:</td>
							<td class="mod-payement">E-transactions payement</td>
						</tr>

						<tr class="text-offset">
							<td colspan="2" class="label-total">Total:</td>
							<td class="total"><%= Fracomex.Utilities.price_format_from_float(@sum_cart) %> €</td>
						</tr>
					</tfoot>
				</table>
			<% end %>
			
		</div> 
	</div>
	<div class="row">
		<div class="col-md-12 mb-4">	
			<h5 class="link-info">Vos données personnelles seront utilisées pour le traitement de votre commande, vous accompagner au cours de votre visite du site web, et pour d'autres raisons décrites dans notre <a href="/" class="link-pc">politique de confidentialité</a></h5>
		</div> 
		<h5 class="link-cgv"><input type="checkbox" class="text-start" style="width: 4%;"/>J'ai lu et j'accepte les <a href="/" class="link-to-cgv">condition générales</a></h5>
		<button class="button-cart validate-cart">
				<a href="/validation-commande" class="validate-cart"><span class="single_product_addtocart">Valider la commande</span></a>
		</button>
	</div>
</div>