@media screen and (max-width:3680px){
	.sidepanel {
		margin-left: -1000px;
	  }
	}
@media screen and (max-width:2680px){
	.sidepanel {
		margin-left: -1000px;
	  }
	}
@media screen and (max-width:1680px){
	.sidepanel {
		margin-left: -800px;
	  }
}/*max-width:1680px*/
@media screen and (max-width:1440px){
	.single-slide-hero {height: 807px;}
	.sidepanel {
		margin-left: -800px;
	  }
}/*max-width:1440px*/

@media screen and (max-width:1199px){
	nav.navbar.bootsnav ul.nav > li > a { padding: 35px 10px;}
	.dropdown-menu {left: -200px;}
	
	.slide-hero-txt h2 .slide-hero-txt h3 {font-size: 40px;}
	.slide-hero-txt h4 {font-size: 28px;}

	.single-populer-products {min-height: 320px;}

}/*max-width:1199px*/

@media screen and (max-width:1024px){
	nav.navbar.bootsnav.menu-center ul.nav.navbar-center {float: none!important;margin: 0 auto;display: table;}

	.single-slide-hero {height:768px;}
	.single-about-img:before,.single-about-img:after{display: none;}
}/*max-width:1024px*/

@media screen and (max-width:1008px){

}/*max-width:1008px*/

@media screen and (max-width:992px){
	nav.navbar.bootsnav .navbar-collapse.collapse.in {padding-bottom: 30px;}
	nav.navbar.bootsnav.menu-center ul.nav.navbar-center {float:left;margin: 0;padding:0;}
	nav.navbar.bootsnav .navbar-brand {padding: 25px;}
	nav.navbar.bootsnav ul.nav > li > a {padding: 15px 0px;border: transparent;}
	.attr-nav > ul > li > a {padding: 20px 15px;}
	.nav-page {
        background-color: darkred;
      }
    .navigation {
        text-align: center;
      }  
	.link-nav {
        text-align: center;
      }    
    .navigation li {
        display: inline;
        text-align: center;
      } 
	.row.info {
		display: block;
		margin: 5px;
	  }  
	#header-carousel {
		margin-top: 10rem;
		margin-bottom: 10rem;
	  }  
}/*max-width:992px*/

@media screen and (max-width:991px){
	.main-menu .nav li span.badge {top: 20px;right:-5px;}
	.single-feature,.single-blog,.single-new-arrival {max-width: 270px;margin: 30px auto;}
	.single-populer-products {max-width: 350px;margin: 30px auto;min-height: auto;padding-bottom: 30px;}
	.nav-page {
        background-color: darkred;
      }
	  .navigation {
        text-align: center;
      }  
	.link-nav {
        text-align: center;
      }    
    .navigation li {
        display: inline;
        text-align: center;
      } 
	  .navbar.navbar-default.bootsnav.navbar-sticky.on.menu-center.no-full .container > .navbar-header {
		margin-top: 10px;
	  }  
	  .navbar.navbar-default.bootsnav.navbar-sticky.on.menu-center.no-full .container > .attr-nav {
		margin-top: 15px;
	  }  
	  .navbar.navbar-default.bootsnav.navbar-sticky.on.menu-center.no-full.sticked .container> .navbar-header {
		margin-top: 5px;
	}
	.navbar.navbar-default.bootsnav.navbar-sticky.on.menu-center.no-full.sticked .container > .attr-nav {
		margin-top: 5px;
	}
	.top-section {
		margin-top: 120px;
	}  
	.product-grid{
		width: 50%;
		float: left;
	}
	.wrap-sticky nav.navbar.bootsnav.sticked ul.nav > li > a {
		padding: 10px;
	  }  

}/*max-width:991px*/

@media screen and (max-width:768px){
    .sidepanel {
		position: fixed;
		height: 100vh;
		background-color: #070707;
		width: 30%;
		min-width: 200px;
		margin-left: -600px;
		z-index: 2;
		font-size: 1.5em;
		line-height: 1.5em;
		color: #f1f1f2;
		text-align: center;
		opacity: 1;
	  }
	  .drop-menu li {
		display: block;
		line-height: 1.5;
	  }  
	.navbar.navbar-default.bootsnav.navbar-sticky.on.menu-center.no-full .container {
		top: 0px !important;
	  }
	.navbar.navbar-default.bootsnav.navbar-sticky.on.menu-center.no-full.sticked .container {
		top: 0px !important;
	  }  
	.top-section {
		margin-top: 150px;
	}  
	#header-carousel {
		margin-top: 14rem;
		margin-bottom: 10rem;
	  }  
}/*max-width:768px*/

@media screen and (max-width:767px){
	.wrap-sticky nav.navbar.bootsnav.sticked nav.navbar.bootsnav ul.nav > li > a {padding: 15px 25px;}
	
	.single-slide-hero {height:auto;background: transparent;padding: 100px 0;display: block;}

	.feature-content,.blog-content,.new-arrivals-content{margin-top:40px;}
	.navbar.navbar-default.bootsnav.navbar-sticky.on.menu-center.no-full .container {
		top: 0px !important;
	  }
	.navbar.navbar-default.bootsnav.navbar-sticky.on.menu-center.no-full.sticked .container {
		top: 0px !important;
	  }
	
}/*max-width:767px*/

@media screen and (max-width: 660px){
	#navbar-menu {
		background-color: #e8e8e8;
	  }
	.mini-slide {
		background: #f8f9fd;
		display: block;
		align-items: center;
	  }  
	.navbar.navbar-default.bootsnav.navbar-sticky.on.menu-center.no-full .container {
		top: 0px !important;
	  }
	.navbar.navbar-default.bootsnav.navbar-sticky.on.menu-center.no-full.sticked .container {
		top: 0px !important;
	  }  
	.row.info {
		display: block;
	  }
	.nav-page{
		display: none;
	}  
	.navbar.navbar-default.bootsnav.navbar-sticky.on.menu-center.no-full .container > .navbar-header {
		margin-top: -5px;
	  } 
	.navbar.navbar-default.bootsnav.navbar-sticky.on.menu-center.no-full .container > .attr-nav {
		margin-top: -5px;
	  }   
	.top-section {
		margin-top: 60px;
	}  
	#header-carousel {
		margin-top: 5rem;
		margin-bottom: 5rem;
	  }  
	  .carousel-indicators {
		bottom: 25px;
	  }  
}/*max-width:660px*/

@media screen and (max-width: 640px){
	#navbar-menu {
		background-color: #e8e8e8;
	  }
	  .navigation {
        text-align: center;
      }  
	.link-nav {
        text-align: center;
      }    
    .navigation li {
        display: inline;
        text-align: center;
      }  
	.navbar.navbar-default.bootsnav.navbar-sticky.on.menu-center.no-full .container {
		top: 0px !important;
	  }
	.navbar.navbar-default.bootsnav.navbar-sticky.on.menu-center.no-full.sticked .container {
		top: 0px !important;
	  }    
}/*max-width:640px*/

@media screen and (max-width: 580px){
	#navbar-menu {
		background-color: #e8e8e8;
	  }
	.navbar.navbar-default.bootsnav.navbar-sticky.on.menu-center.no-full .container {
		top: 0px !important;
	  }
	.navbar.navbar-default.bootsnav.navbar-sticky.on.menu-center.no-full.sticked .container {
		top: 0px !important;
	  }  
	  
}/*max-width:580px*/

@media screen and (max-width: 540px){
	#navbar-menu {
		background-color: #e8e8e8;
	  }
	.navbar.navbar-default.bootsnav.navbar-sticky.on.menu-center.no-full .container {
		top: 0px !important;
	  }
	.navbar.navbar-default.bootsnav.navbar-sticky.on.menu-center.no-full.sticked .container {
		top: 0px !important;
	  }  
}/*max-width:540px*/

@media screen and (max-width: 480px){
	.slide-hero h2 {font-size: 30px;}
	.navbar.navbar-default.bootsnav.navbar-sticky.on.menu-center.no-full .container {
		top: 0px !important;
	  }
	.navbar.navbar-default.bootsnav.navbar-sticky.on.menu-center.no-full.sticked .container {
		top: 0px !important;
	  }
	.top-section {
		margin-top: 60px;
	}   
	#header-carousel {
		margin-top: 5rem;
		margin-bottom: 10rem;
	  }
}/*max-width:480px*/

@media screen and (max-width: 440px){
	nav.navbar.bootsnav .dropdown .megamenu-content .col-menu .title{padding: 10px 0px;}
	.slide-hero-txt h2 {font-size: 24px;line-height: 1.5;}
	.slide-hero-txt h3,.slide-hero-txt h4 {font-size: 24px;}
	
}/*max-width:400px*/

@media screen and (max-width:350px){
	nav.navbar.bootsnav .navbar-toggle {margin-right: -25px;left:-10px;}
	nav.navbar.bootsnav .navbar-brand {padding:25px 0;font-size: 20px;}
	.wrap-sticky nav.navbar.bootsnav.sticked .navbar-header a.navbar-brand, .wrap-sticky nav.navbar.bootsnav.sticked .navbar-header a.navbar-brand:hover,.wrap-sticky nav.navbar.bootsnav.sticked .navbar-header a.navbar-brand:focus {padding: 25px 0px;}
	.wrap-sticky nav.navbar.bootsnav.sticked .attr-nav > ul > li > a {padding: 22px 10px;}
}/*max-width:350px*/

@media screen and  (max-width: 320px){
	.navbar.navbar-default.bootsnav.navbar-sticky.on.menu-center.no-full .container {
		top: 0px !important;
	  }
	.navbar.navbar-default.bootsnav.navbar-sticky.on.menu-center.no-full.sticked .container {
		top: 0px !important;
	  }
	.nav-page {
        background-color: darkred;
      }
	  .navigation {
        text-align: center;
      }  
	.link-nav {
        text-align: center;
      }    
    .navigation li {
        display: inline;
        text-align: center;
      } 
}/*max-width:320px*/

