/*=========== Ordre du style ===========
1.  General css
2.  Top
3.  slide
4.  Populer
5.  Arrivage
6.  collection
7.  Features
8.  categ
9.  Clients
10. Footer
==========================================*/

/*-------------------------------------
		1.General css
--------------------------------------*/
@font-face {
    font-family: "BodyFont";
    src: url(/home/mgbi/elixir/fracomex/static_assets/fonts/SctoGroteskA-Regular.woff2) format('woff2');
}

* {
    padding: 0;
    margin: 0;
}

.primary-color {
    color: #e41201;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

.navbar-brand img {
    width: 100%;
    max-width: 150px;
    height: auto;
    margin: 0 auto;
    margin-top: -10px;
    position: relative;
}

body {
    font-family: "BodyFont", sans-serif;
    font-size: 16px;
    color: #a09e9c;
    background: #f4f4f4;
    text-transform: initial;
    max-width: 1920px;
    margin: 0 auto;
    overflow-x: hidden;
}

a,
a:hover,
a:active,
a:focus {
    display: inline-block;
    text-decoration: none;
    color: #616060;
    font-size: 16px;
    padding: 0;
    font-weight: 500;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    color: #5f5b57;
}

p {
    margin: 0;
    color: #a09e9c;
    font-size: 16px;
    line-height: 1.8;
}

img {
    border: none;
    max-width: 100%;
    height: auto;
}

ul {
    padding: 0;
    margin: 0 auto;
    list-style: none;
}

ul li {
    list-style: none;

}

select,
input,
textarea,
button {
    box-shadow: none;
    outline: 0 !important;
}

button {
    background: transparent;
    border: 0;
}

html,
body {
    height: 100%;
}

[placeholder]:focus::-webkit-input-placeholder {
    -webkit-transition: opacity 0.3s 0.3s ease;
    -moz-transition: opacity 0.3s 0.3s ease;
    -ms-transition: opacity 0.3s 0.3s ease;
    -o-transition: opacity 0.3s 0.3s ease;
    transition: opacity 0.3s 0.3s ease;
    opacity: 0;
}

/* section-header */
.section-header {
    position: relative;
    text-align: center;
}

.section-header h2 {
    font-size: 30px;
    font-weight: 500;
}

.section-header h2 span {
    text-transform: lowercase;
}

.top-section {
    margin-top: 90px;
    background-color: #e41201;
    display: flex;
    color: #fff;
}

.top-section h1, 
.top-section a, 
.top-section span {
    color: #fff;
}

.top-section ol {
    list-style: none;
    justify-content: center;
    margin-bottom: 0;
}

/* Ne pas ajouter un "/" après la dernière valeur de la liste */
.top-section ol li:not(:last-child) a::after {
    content: "/";
    color: rgb(255, 255, 255);
    margin-right: 0.5rem;
}

.top-section ol li:not(:last-child) span:hover {
    color: rgb(255, 255, 255);
    text-decoration: underline;
}

.top-section ol li:last-child span:hover,
span.not-underlined:hover{
    color: rgb(255, 255, 255);
    text-decoration: none !important;
}

.breadcrumb-link {
    display: inline-flex;
}

.breadcrumb-item-link {
    list-style: none;
    font-style: italic;
}

/* section-header */

/*-------------------------------------
        2. Top-area
--------------------------------------*/
nav.navbar.bootsnav.menu-center .container {
    position: relative;
    min-height: 70px;
    height: 70px !important;
}

.navbar-center {
    float: none;
    margin: 0 auto;
    display: table !important;
    table-layout: fixed !important;
}

nav.navbar.bootsnav {
    background-color: transparent;
    border-bottom: transparent;
}

.wrap-sticky nav.navbar.bootsnav.sticked {
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
}

/*.navbar-brand*/
.navbar-header a.navbar-brand,
.navbar-header a.navbar-brand:hover,
.navbar-header a.navbar-brand:focus {
    display: inline-block;
    color: #616060;
    font-size: 24px;
    font-weight: 500;
    padding: 45px 0px;
    text-transform: capitalize;
}

.navbar-header a.navbar-brand span {
    display: inline-block;
    color: #e41201;
    text-transform: capitalize;
}

.wrap-sticky nav.navbar.bootsnav.sticked .navbar-header a.navbar-brand,
.wrap-sticky nav.navbar.bootsnav.sticked .navbar-header a.navbar-brand:hover,
.wrap-sticky nav.navbar.bootsnav.sticked .navbar-header a.navbar-brand:focus {
    padding: 30px 0px;
}

/*.navbar-brand*/

/*.nav li*/
nav.navbar.bootsnav ul.nav>li>a {
    color: #616060;
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
    -webkit-transition: 0.3s linear;
    -moz-transition: 0.3s linear;
    -ms-transition: 0.3s linear;
    -o-transition: 0.3s linear;
    transition: 0.3s linear;
}

nav.navbar.bootsnav ul.nav>li>a {
    padding: 15px 25px;
}

nav.navbar.bootsnav ul.nav>li>a:hover,
nav.navbar.bootsnav ul.nav>li>a:focus {
    color: #e41201;
}

nav.navbar.bootsnav ul.nav>li.active>a {
    color: #e41201;
}

nav.navbar.bootsnav ul.nav>li.dropdown>a.dropdown-toggle:after {
    content: "";
}

nav.navbar.bootsnav ul.nav>li.dropdown span {
    font-size: 8px;
    margin-left: 15px;
}

.wrap-sticky nav.navbar.bootsnav.sticked ul.nav>li>a {
    padding: 30px 25px;
}

/*.nav li*/

/*.menu-ui-design*/
.menu-ui-design {
    overflow-y: scroll;
    height: 350px;
}

.menu-ui-design::-webkit-scrollbar {
    width: 5px;
}

.menu-ui-design::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 8px #000;
}

.menu-ui-design::-webkit-scrollbar-thumb {
    background-color: #e41201;
}

/*.menu-ui-design*/

/*.attr-nav*/
.attr-nav {
    position: relative;
}

.attr-nav>ul>li>a {
    color: #616060;
    padding: 44px 15px;
    font-size: 18px;
    font-weight: 500;
}

.attr-nav>ul>li>a:hover {
    color: #e41201;
}

.wrap-sticky nav.navbar.bootsnav.sticked .attr-nav>ul>li>a {
    padding: 28px 15px;
}

/*.attr-nav*/

/*badge cart*/
.badge {
    background-color: #e41201;
}

.attr-nav>ul>li>a span.badge {
    margin-top: -25px;
    width: 20px;
    height: 20px;
    padding-top: 6px;
}

/*.badge*/

/*.navbar-toggle */
nav.navbar.bootsnav .navbar-toggle {
    position: relative;
    background-color: transparent;
    padding: 10px;
    top: 0;
}

nav.navbar.bootsnav .navbar-toggle i {
    color: #e41201;
}

/*.navbar-toggle */

/*.cart-list*/
ul.dropdown-menu.cart-list {
    height: 232px;
    overflow-y: scroll;
    border-radius: 3px;
}

ul.cart-list>li img {
    width: 50px;
    height: 50px;
    border: transparent;
}

.s-cate::-webkit-scrollbar {
    width: 5px;
}

.s-cate::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 8px #000;
}

.s-cate::-webkit-scrollbar-thumb {
    background-color: #e41201;
}

.single-cart-list {
    position: relative;
    display: flex;
}

ul.cart-list>li {
    border-bottom: solid 1px #ebebeb;
    padding: 20px !important;
}

ul.cart-list>li:last-child {
    border-bottom: 0;
}

.attr-nav ul.cart-list>li>a:hover {
    border-left: 2px solid transparent !important;
}

.dropdown-menu.cart-list h6 a {
    color: #43465d;
    font-size: 12px;
    line-height: 1.3;
}

.cart-list-txt p {
    font-size: 12px;
    font-weight: 300;
    line-height: 1.8;
}

ul.cart-list>li .price {
    font-weight: 300;
}

.cart-close {
    position: absolute;
    top: 10px;
    right: 14px;
    cursor: pointer;
}

ul.cart-list>li.total>span {
    padding-top: 0px;
    position: relative;
    top: 4px;
}

ul.cart-list>li.total span {
    color: #43465d;
    font-size: 14px;
    font-weight: 500;
}

ul.cart-list>li.total {
    background-color: #fff;
    padding-bottom: 20px !important;
}

.btn-cart {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #e41201;
    width: 80px;
    height: 30px;
    white-space: nowrap;
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    text-transform: capitalize;
    border-radius: 3px;
}

.in-banner:hover {
    color: #fff !important;
}

/*.cart-list*/

/*.packages-price */
.packages-price p {
    position: relative;
    color: #616060;
    font-size: 16px;
    font-weight: 500;
}

.packages-price del,
.packages-price span {
    color: #bbb9b9;
    font-size: 16px;
    font-weight: 500;
}

.packages-price del {
    margin-left: 10px;
}

/*.packages-price */



/*-------------------------------------
        3.  Slide
--------------------------------------*/
.slide-hero {
    position: relative;
    z-index: 1;
    background: #f8f9fd;
}

.header-area {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
}

.single-slide-item {
    position: relative;
    background-size: cover;
    background-position: center;
}

.single-slide-item.slide1 {
    background: transparent;
}

.single-slide-item.slide2 {
    background: transparent;
}

.single-slide-item.slide3 {
    background: transparent;
}

/*slide-hero-content*/
.single-slide-hero {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 920px;
}

.slide-hero-txt h4 {
    color: #998d80;
    font-size: 24px;
    font-weight: 400;
}

.slide-hero-txt h2 {
    font-size: 48px;
    color: #616060;
    font-weight: 400;
    margin: 20px 0 22px;
}

.slide-hero-txt p {
    margin: 35px 0 20px;
}

.slide-hero-txt .packages-price p {
    margin: 0;
    padding-left: 35px;
}

.packages-price p:before {
    position: absolute;
    content: "";
    width: 25px;
    height: 1px;
    background: #616060;
    top: 45%;
    left: 0;
}

/*details content product_single*/
.details {
    padding-left: 20px;
}

.details h1 .details-product-name {
    font-size: 16px;
    font-weight: 400;
}

.details h3 .details-product-price {
    font-size: 14px;
}

.details .details-product-price {
    margin-top: 15px;
}

.details-product-price {
    font-weight: bold;
}

.counter {
    width: 110px;
    border: 1px solid;
    margin-top: 20px;
    margin-bottom: -20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.counter input {
    width: 40px;
    border: 0;
    line-height: 10px;
    font-size: 14px;
    text-align: center;
    background: #e41201;
    color: #fff;
    appearance: none;
    outline: 0;
}

.counter span {
    display: block;
    font-size: 14px;
    padding: 0 10px;
    cursor: pointer;
    color: #e41201;
    user-select: none;
}

.add-to-cart {
    text-align: center;
}

/*product-detail add to cart*/
.btn-cart.product-add-cart,
.btn-cart.product-add-cart.slide-more-info {
    width: 180px;
    height: 50px;
    line-height: 50px;
    border-radius: 1px;
    font-size: 14px;
    margin-top: 34px;
    display: inline-block;
    -webkit-transition: 0.3s linear;
    -moz-transition: 0.3s linear;
    -ms-transition: 0.3s linear;
    -o-transition: 0.3s linear;
    transition: 0.3s linear;
    text-align: center;
}

.btn-cart.product-add-cart span {
    text-transform: uppercase;
}

.btn-cart.product-add-cart span.lnr.lnr-plus-circle {
    position: relative;
    top: 0px;
    font-size: 14px;
    margin-right: 5px;
}

.btn-cart.product-add-cart.slide-more-info {
    color: #e41201;
    background: transparent;
    border: transparent;
}

.btn-cart.product-add-cart:hover {
    color: #e41201;
    background: transparent;
    border: 1px solid #e41201;
}

.btn-cart.product-add-cart.slide-more-info:hover {
    background: transparent;
    color: #e41201;
    border: 1px solid #e41201;
}

/*mini validate cart*/
.btn-cart.valide-cart,
.btn-cart.valide-cart.slide-more-info {
    width: 140px;
    height: 40px;
    line-height: 30px;
    border-radius: 1px;
    font-size: 12px;
    margin-top: 34px;
    display: inline-block;
    -webkit-transition: 0.3s linear;
    -moz-transition: 0.3s linear;
    -ms-transition: 0.3s linear;
    -o-transition: 0.3s linear;
    transition: 0.3s linear;
}

.btn-cart.valide-cart span {
    text-transform: uppercase;
}

.btn-cart.valide-cart span.lnr.lnr-plus-circle {
    position: relative;
    top: 0px;
    font-size: 14px;
    margin-right: 5px;
}

.btn-cart.valide-cart.slide-more-info {
    color: #000000;
    background: transparent;
    border: transparent;
}

.btn-cart.valide-cart:hover {
    color: #000000;
    background: transparent;
    border: 1px solid #e41201;
}

.btn-cart.valide-cart.slide-more-info:hover {
    background: transparent;
    color: #e41201;
    border: 1px solid #e41201;
}

.btn-cart.valide-cart {
    display: flex;
    align-content: center;
    margin: 5px auto;
}

/*default btn*/
.btn-cart.default,
.btn-cart.default.slide-more-info {
    min-width: 150px;
    width: 150px;
    height: 40px;
    line-height: 30px;
    border-radius: 1px;
    font-size: 14px;
    margin-top: 34px;
    display: inline-block;
    -webkit-transition: 0.3s linear;
    -moz-transition: 0.3s linear;
    -ms-transition: 0.3s linear;
    -o-transition: 0.3s linear;
    transition: 0.3s linear;
}

.btn-cart.default span {
    text-transform: uppercase;
}

.btn-cart.default span.lnr.lnr-plus-circle {
    position: relative;
    top: 0px;
    font-size: 14px;
    margin-right: 5px;
}

.btn-cart.default.slide-more-info {
    color: #e41201;
    background: transparent;
    border: transparent;
}

.btn-cart.default:hover {
    color: #e41201;
    background: transparent;
    border: 1px solid #e41201;
}

.btn-cart.default.slide-more-info:hover {
    background: transparent;
    color: #000000;
    border: 1px solid #e41201;
}

.btn-cart.default {
    display: flex;
    align-content: center;
    margin: 5px auto;
}

/*page cart*/
.card {
    margin: auto;
    width: 100%;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 1rem;
    border: transparent;
}

.table>tbody>tr>td {
    padding: 15px;
}

.card.section-cart {
    padding: 20px;
}

.cart.table {
    border: 1px solid #ddd;
}

.table.cart {
    margin-left: 20px;
    margin-right: 20px;
}

.card.cart {
    padding: 20px;
}

.cart-title-total {
    text-align: center;
    font-weight: bold;
    margin-bottom: 20px;
}

.title-cart p {
    margin-top: 25px;
}

.price-cart p {
    margin-top: 25px;
}

.remove-cart p {
    cursor: pointer;
    margin-top: 25px;
}

.update {
    float: right;
}
.checkout.table {
    border: 1px solid #ddd;
}
.table.align-middle.checkout {
    color: #5e5e5e;
  }
.head-table{
    background-color: #e41201;
    color: #000;
}
.item-qty {
    text-align: center;
  }
.item-price {
    text-align: center;
  }
.foot-table{
    text-align: left;
}
.label-subtotal{
    font-weight: bold;
}
.label-total{
    font-weight: bold;
}
.label-payement{
    font-weight: bold;
}
.mod-payement{
    text-align: left;
}
.subtotal{
    text-align: left;
}
.total{
    text-align: left;
}
.validate-checkout td {
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
  }
.text-offset td {
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
  }  
.link-info{
    line-height: 2;
}  
.link-pc{  
  font-size: 14px;
  color: #e41201;   
}
.link-pc:hover{  
  font-size: 14px;
  color: #e41201;   
  text-decoration: underline; 
  }
.link-to-cgv{  
    font-size: 14px;
    color: #e41201;   
  }
.link-to-cgv:hover{  
    font-size: 14px;
    color: #e41201;   
    text-decoration: underline; 
    }
.validate-cart {
        color: #fff;
      }      
/*slide-hero-content*/

/* .carousel-indicators */
.carousel-indicators {
    bottom: 4.5%;
}

.carousel-indicators li {
    position: relative;
    display: inline-block;
    width: 8px;
    height: 8px;
    margin: 12px 10px 0 0;
    text-indent: -999px;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid #e41201;
    border-radius: 50%;
}

.carousel-indicators li>span.small-circle {
    position: absolute;
    top: -1px;
    left: -1px;
    display: inline-block;
    width: 8px;
    height: 8px;
    background-color: transparent;
    border: 1px solid #e41201;
    border-radius: 50%;
}

.carousel-indicators li.active>span.small-circle {
    top: 3px;
    left: 3px;
    background-color: #000000;
}

.carousel-indicators .active {
    position: relative;
    top: 4px;
    width: 16px;
    height: 16px;
    margin: 12px 10px 0 0;
    background-color: transparent;
    border: 1px solid #e41201;
}

/* .carousel-indicators */

/* .carousel-fade */
.carousel-fade .carousel-inner .item {
    -webkit-transition-property: opacity;
    transition-property: opacity;
}

.carousel-fade .carousel-inner .item,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
    opacity: 0;
}

.carousel-fade .carousel-inner .active,
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
    opacity: 1;
}

.carousel-fade .carousel-inner .next,
.carousel-fade .carousel-inner .prev,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.carousel-fade .carousel-control {
    z-index: 2;
}

/* .carousel-fade */

/*-------------------------------------
        4. Populer-post
--------------------------------------*/
.populer-products {
    padding: 100px 0 0;
}

.single-populer-products {
    position: relative;
    min-height: 280px;
    background: #f8f9fc;
    text-align: center;
    overflow: hidden;
}

.single-populer-product-img.mt40 {
    margin-top: 40px;
}

.single-inner-populer-products {
    margin-top: 40px;
    padding: 0 45px 0 30px;
    text-align: left;
}

.single-populer-products h2 a {
    display: inline-block;
    font-size: 18px;
    font-weight: 500;
    color: #5f5b57;
    margin: 25px 0 22px;
    -webkit-transition: 0.3s linear;
    -moz-transition: 0.3s linear;
    -ms-transition: 0.3s linear;
    -o-transition: 0.3s linear;
    transition: 0.3s linear;
}

.single-populer-products:hover h2 a {
    color: #e41201;
}

.single-populer-products-para {
    height: 50px;
    overflow: hidden;
    display: inline-block;
}

.single-populer-products-para p {
    font-size: 14px;
    padding: 0px 20px;
    text-transform: initial;
}

.single-inner-populer-product-txt {
    margin-top: 8px;
}

.single-populer-products .single-inner-populer-product-txt h2 a {
    margin: 0;
}

.single-inner-populer-product-txt span {
    text-transform: lowercase;
}

.single-inner-populer-product-txt p {
    font-size: 14px;
    margin: 18px 0 13px;
}

.populer-products-price h4 {
    font-size: 14px;
    font-weight: 700;
    text-transform: initial;
}

.populer-products-price h4 span {
    color: #e41201;
}

.btn-cart.product-add-cart.populer-products-btn {
    width: 118px;
    height: 40px;
    line-height: 40px;
    color: #5f5b57;
    background: transparent;
    border: 1px solid #5f5b57;
    font-size: 14px;
    margin-top: 23px;
    -webkit-transition: 0.3s linear;
    -moz-transition: 0.3s linear;
    -ms-transition: 0.3s linear;
    -o-transition: 0.3s linear;
    transition: 0.3s linear;
}

.single-populer-products:hover .btn-cart.product-add-cart.populer-products-btn {
    color: #fff;
    background: #5f5b57;
    border: 1px solid #5f5b57;
}


/*-------------------------------------
        5. New-arrivals 
--------------------------------------*/
.all-product {
    padding: 10px 0 40px 0;
}

.new-arrivals {
    padding: 85px 0 70px;
}

.new-arrivals-content {
    margin-top: 80px;
}

.all-product-content {
    margin-top: 10px;
}

.details-product {
    margin-bottom: 5px;
    text-align: center;
}

.single-product {
    margin-bottom: 50px;
    text-align: center;
}

.single-product-bg {
    /* position: relative; */
    min-height: 325px;
    background: #f8f9fc;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    cursor: pointer;
}

.single-product-bg img {
    width: 252.83px;
    height: 252.83px;
    -webkit-transition: .3s linear;
    -moz-transition: .3s linear;
    -ms-transition: .3s linear;
    -o-transition: .3s linear;
    transition: .3s linear;
}

.single-product-bg:hover img {
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -ms-transform: scale(1.3);
    -o-transform: scale(1.3);
    transform: scale(1.3);
}

.single-product-bg-overlay {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(106, 119, 129, .1);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    -webkit-transition: .3s linear;
    -moz-transition: .3s linear;
    -ms-transition: .3s linear;
    -o-transition: .3s linear;
    transition: .3s linear;
}

.single-product-bg:hover .single-product-bg-overlay {
    /* -webkit-transform:scale(1);
    -moz-transform:scale(1);
    -ms-transform:scale(1);
    -o-transform:scale(1);
    transform:scale(1); */
}

.sale {
    position: absolute;
    top: 10px;
    right: 0;
    width: 60px;
    height: 30px;
    line-height: 30px;
    text-align: center;
}

.sale p {
    color: #fff;
    font-weight: 500;
    font-size: 14px;
    line-height: 2.2;
}

.sale.bg-1 {
    background: #d8924c;
}

.sale.bg-2 {
    background: #47d93c;
}

.product-name {
    margin-top: 210px;
    position: absolute;
    display: block;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
}

.a-product-name {
    /* overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    -webkit-box-orient: vertical; */
    color: #000 !important;
    padding: 5px;
    word-wrap: anywhere;
    /* margin-bottom: 4rem; */
    font-weight: bolder;
    font-size: larger;
    background: ghostwhite;
}

.a-product-name:hover {
    /* overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    -webkit-box-orient: vertical; */
    padding: 5px;
}

.product-price {
    margin-top: 280px;
    position: absolute;
    display: block;
    text-align: center;
    font-weight: bold;
}

.p-product-price {
    display: none;
    color: #e41201 !important;
}

.new-arrival-cart {
    position: absolute;
    z-index: 0;
    width: 80%;
    height: 35px;
    background: #e41201;
    -webkit-transition: .3s linear;
    -moz-transition: .3s linear;
    -ms-transition: .3s linear;
    -o-transition: .3s linear;
    transition: .3s linear;
    opacity: 0;
    visibility: hidden;
    text-align: center;
}

.new-arrival-cart p {
    color: #fff;
    font-size: 12px;
    line-height: 3;
}

.new-arrival-cart p a {
    color: #fff;
    font-weight: 400;
    font-size: 12px;
    text-align: center;
}

.new-arrival-cart p span.lnr.lnr-cart {
    margin-right: 10px;
}

/* .new-arrival-cart p span{text-transform: uppercase;} */
p.arrival-review span {
    margin-right: 15px;
}

.single-product-bg:hover .new-arrival-cart {
    opacity: 0.9;
    visibility: visible;
}

.single-product h4 a {
    color: #5f5b57;
    font-size: 16px;
    font-weight: 500;
    margin: 26px 0 12px;
}

.arrival-product-price {
    color: #5f5b57;
    font-size: 16px;
    font-weight: bold;
}

.single-product:hover h4 a {
    color: #e41201;
}

.product-single {
    padding: 10px 0 40px 0;
}


/*--------------------------------
product banner
-----------------------------*/
.banner_2_background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

/*-------------------------------------
        7. Features
--------------------------------------*/
.feature {
    padding: 110px 0 0px;
}

.feature-content,
.categ-content {
    margin-top: 75px;
}

.single-feature,
.single-categ {
    margin-bottom: 30px;
}

/*.single-feature-txt */
.single-feature-txt,
.single-categ-txt {
    margin-top: 25px;
}

.single-feature-txt p i {
    color: #efce4a;
    margin-left: 5px;
}

span.spacial-feature-icon i {
    color: #a9a9a9;
}

span.feature-review {
    margin-left: 10px;
}

.single-feature-txt p {
    font-size: 14px;
}

.single-feature-txt h3 a,
.single-categ-txt h2 a {
    color: #5f5b57;
    margin: 10px 0px 15px;
}

.single-feature-txt h5 {
    color: #5f5b57;
    font-weight: 400;
}

/*.single-feature-txt */

/*-------------------------------------       
        8.  categ
--------------------------------------*/
#promo {
    margin-top: -18rem;
    position: relative;
}

.categ {
    padding: 80px 0;
}

.in-categ {
    align-items: center !important;
    margin-top: 15rem !important;
}

.in-categ:hover {
    color: #fff !important;
}

/*.single-categ*/
.single-categ {
    -webkit-transition: 0.3s linear;
    -moz-transition: 0.3s linear;
    -ms-transition: 0.3s linear;
    -o-transition: 0.3s linear;
    transition: 0.3s linear;
    border: 1px solid black;
    padding: 1.5rem;
}

.single-categ-img {
    position: relative;
    overflow: hidden;
    -webkit-transition: 0.3s linear;
    -moz-transition: 0.3s linear;
    -ms-transition: 0.3s linear;
    -o-transition: 0.3s linear;
    transition: 0.3s linear;
}

.single-categ-img img {
    width: auto;
    height: auto;
    min-height: 320px;
    -webkit-transition: .3s linear;
    -moz-transition: .3s linear;
    -ms-transition: .3s linear;
    -o-transition: .3s linear;
    transition: .3s linear;
}

.single-categ:hover img {
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -ms-transform: scale(1.3);
    -o-transform: scale(1.3);
    transform: scale(1.3);
}

.single-categ-img-overlay {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, .3);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    -webkit-transition: .3s linear;
    -moz-transition: .3s linear;
    -ms-transition: .3s linear;
    -o-transition: .3s linear;
    transition: .3s linear;
}

.single-categ:hover .single-categ-img-overlay {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}

.single-categ-txt h2 a {
    text-transform: initial;
    margin: 0 0 15px 0;
}

.single-categ-txt h3,
.single-categ-txt h3 a {
    color: #bcb7b2;
    font-size: 14px;
    font-weight: 400;
}

.single-categ-txt h3 a {
    margin: 0;
}

.single-categ-txt p {
    font-size: 13px;
    margin-top: 20px;
    color: #95908b;
}

.single-categ:hover .single-categ-txt h2 a {
    color: #25abdb;
}

/*.single-categ*/

/*-------------------------------------
        9. users
--------------------------------------*/
.clients {
    background: #f8f9fd;
    display: flex;
    align-items: center;
    height: 220px;
}

.clients .item {
    text-align: center;
}

.login {
    width: 90%;
    max-width: 450px;
}

.signin {
    width: 90%;
    max-width: 800px;
}

input[type=email] {
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

input[type=password] {
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    z-index: 1 !important;
}

.input-group {
    z-index: 0 !important;
}

.forgot:hover {
    color: #1995cc;
}

/*-------------------------------------
        10. News-letter
--------------------------------------*/
.prefooter {
    padding: 40px 0 0 0;
    background-color: #202020;
}

.hm-footer-widget {
    margin-bottom: 30px;
}

.hm-foot-title h4 {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 45px;
}

.hm-foot-menu ul li a {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 15px;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}

.hm-foot-menu ul li a:hover {
    color: #e41201;
    -webkit-transform: translateX(10px);
    -moz-transform: translateX(10px);
    -ms-transform: translateX(10px);
    -o-transform: translateX(10px);
    transform: translateX(10px);
}

.hm-foot-menu p {
    color: #fff;
}

.hm-foot-para p {
    font-size: 14px;
    text-transform: initial;
    margin-bottom: 25px;
}

/*hm-foot-email*/
.hm-foot-email {
    position: relative;
}

.foot-email-box .form-control {
    background: #fff;
    display: block;
    padding: 25px 15px;
    outline: 0 !important;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .2);
    border: 0;
}

.foot-email-box input[type="text"] {
    font-size: 14px;
    color: #bcb7b2;
}

.foot-email-subscribe {
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 100%;
    background: transparent;
    color: #e41201;
    font-size: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.foot-email-box .form-control:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, .4);
}

/*hm-foot-email*/


/*-------------------------------------
        11. Footer
--------------------------------------*/
.footer {
    background: #f8f9fd;
    display: flex;
    align-items: center;
    height: 50px;
}

.hm-footer-copyright p,
.hm-footer-copyright p a {
    color: #a5adb3;
    font-size: 14px;
    font-weight: 400;
}

.footer-social a i {
    color: #a4aaaf;
    margin: 0 18px 24px 0;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}

.footer-social i:hover {
    color: #e41201;
}

/*Scroll Top*/
#scroll-Top .return-to-top {
    position: fixed;
    right: 30px;
    bottom: 30px;
    display: none;
    width: 40px;
    line-height: 40px;
    height: 40px;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
    color: #fff;
    background: #e41201;
    clip-path: circle();
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
    z-index: 2;
}

#scroll-Top .return-to-top:hover {
    background: #000000;
    color: #ffffff;
}

#scroll-Top .return-to-top i {
    position: relative;
    bottom: 0;

}

#scroll-Top .return-to-top i {
    position: relative;
    animation-name: example;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-duration: 1s;
}

@keyframes example {
    0% {
        bottom: 0px;
    }

    100% {
        bottom: 7px;
    }
}


/*mini slide*/
.mini-slide {
    background: #f8f9fd;
    display: flex;
    align-items: center;
    height: 400px;
}

.mini-slide .item {
    text-align: center;
}

.title-section {
    color: #e41201;
}

.section-header h2 {
    font-size: 30px;
    font-weight: 500;
    left: 2rem;
    position: absolute;
    padding-left: 60px;
    margin-bottom: 40px;
    color: #e41201;
}

.section-header .title-promo::before {
    position: absolute;
    content: "";
    width: 45px;
    height: 2px;
    background: #000000;
    top: 45%;
    left: 0;
}

.owl-controls .owl-buttons {
    text-align: center;
    margin-top: 20px;
}

.owl-controls .owl-buttons .owl-prev {
    background: #e41201;
    position: absolute;
    top: 50%;
    left: -8px;
    padding: 0 18px 0 15px;
    clip-path: circle();
    box-shadow: 3px 14px 25px -10px #92b4d0;
    transition: background 0.5s ease 0s;
    z-index: 0;
}

.owl-controls .owl-buttons .owl-prev::after,
.owl-controls .owl-buttons .owl-next::after {
    color: #fff !important;
}

.owl-controls .owl-buttons .owl-next {
    background: #e41201;
    position: absolute;
    top: 50%;
    right: -8px;
    padding: 0 15px 0 18px;
    clip-path: circle();
    box-shadow: -3px 14px 25px -10px #92b4d0;
    transition: background 0.5s ease 0s;
    z-index: 0;
}

.owl-controls .owl-buttons .owl-prev:after,
.owl-controls .owl-buttons .owl-next:after {
    content: "\f104";
    font-family: FontAwesome;
    color: #333;
    font-size: 30px;
}

.owl-controls .owl-buttons .owl-next:after {
    content: "\f105";
}

@media only screen and (max-width:1280px) {
    .post-slide .post-content {
        padding: 0px 15px 25px 15px;
    }
}

.header-slide {
    z-index: 0 !important;
    margin-bottom: -5rem !important;
}

/*slide*/
.prev-slide {
    position: absolute;
    top: 50%;
    left: 20px;
    padding: 15px;
    z-index: 1;
    cursor: pointer;
    display: none;
}

.next-slide {
    position: absolute;
    top: 50%;
    right: 20px;
    padding: 15px;
    z-index: 1;
    cursor: pointer;
    display: none;
}

.prev-slide:hover {
    background-color: #fff;
    opacity: 0.4;
    border-radius: 50%;
    color: #000;
    box-shadow: 3px 14px 25px -10px #92b4d0;
    transition: background 0.5s ease 0s;
}

.next-slide:hover {
    background-color: #fff;
    opacity: 0.4;
    border-radius: 50%;
    color: #000;
    box-shadow: 3px 14px 25px -10px #92b4d0;
    transition: background 0.5s ease 0s;
}

.itemfamilies-dropdown-menu {
    /* background-color: lightgreen !important; */
    /* height: 270px; */
    max-height: 270px;
    overflow-y: auto;
}

#carousel-promotions-indicators {
    bottom: -3rem;
    z-index: 0;
}

#user-icon-dropdown {
    left: -300%;
}

#shop-banner {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

/*sidebar category*/
.all-category {
    left: 10px;
}

ul.category {
    line-height: 2;
    width: 100%;
}

/*.current-category{
    background-image: linear-gradient(
      to right,
      #510101 0%,
      #b8000f 51%,
      #cc001f 100%
    );
    background-size: 200% auto;
    color: #fff;
    transition: all 0.5s ease-in-out;
  }*/
#collapse-category {
    border: 1px solid #e41201;
    outline-offset: -6px;
}

#li-category {
    text-align: start;
    padding: 5px;
}

#li-category:hover {
    text-align: start;
    padding: 5px;
}

#li-category:hover {
    background-position: right;
}

#li-category a {
    color: #000;
}

#li-category a:hover {
    color: #b8000f;
    transition: all 0.5s ease-in-out;
}

#li-category a::after {
    padding-right: 5px;
}

.sub-category {
    margin-left: 40px;
}

/* .category-collapse {
    outline: 2px solid #000;
    outline-offset: -2px;
    padding: 5px;
  }*/
.has-child>a:after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f078";
    font-style: normal;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    background: 0 0;
    position: absolute;
    right: 15px;
    transition: content 0.5s ease 0s;
}

[class="has-child"] > a{
    color: #e41201 !important; 
}

.has-child:hover > a {
    color: #e41201 !important; 
}

.no-child:hover > a {
    color: #e41201 !important; 
}


.has-child.collapsed>a:after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f105";
    font-style: normal;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    background: 0 0;
    position: absolute;
    right: 15px;
}

/*filter*/
.col-filter {
    /* float: inline-end; */
    text-align: end;
    margin: 0 10px 10px;
    margin-bottom: -10px !important;
}

/*full nav category*/
.navigation__checkbox {
    display: none;
}

.full.lnr.lnr-store {
    font-size: 40px;
    top: 1rem;
    position: relative;
}

.full.lnr.lnr-store::before {}

.full.lnr.lnr-store::after {
    content: "\e870";
    display: none;
}

.navigation__button {
    position: fixed;
    top: 0.5rem;
    right: 1.5rem;
    height: 5rem;
    width: 5rem;
    text-align: center;
    background-color: #fff;
    border-radius: 50%;
    z-index: 300;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

@media screen and (min-width: 768px) {
    .navigation__button {
        top: 2rem;
        right: 4rem;
        height: 7rem;
        width: 7rem;
    }
}

.navigation__background {
    position: fixed;
    top: 2rem;
    right: 2rem;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    background: #1f1f1f;
    background-size: cover;
    background-position: center;
    z-index: 100;
    transition: all 800ms cubic-bezier(0.86, 0, 0.07, 1);
    opacity: 0.8;
}

@media screen and (min-width: 768px) {
    .navigation__background {
        top: 2rem;
        right: 4.5rem;
        height: 6rem;
        width: 6rem;
    }
}

.navigation__nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    opacity: 0;
    width: 0;
    visibility: hidden;
    z-index: 200;
    transition: all 800ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.navigation__list {
    /*@include center;*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: start;
    width: 100%;
    list-style: none;
}

.navigation__item {
    margin: 1rem;
}

.navigation__link:link,
.navigation__link:visited {
    display: inline-block;
    padding: 1rem 2rem;
    text-transform: uppercase;
    color: #f4f4f4;
    font-size: 1.5rem;
    text-decoration: none;
    transition: all .2s;
}

@media(min-width: 768px) {

    .navigation__link:link,
    .navigation__link:visited {
        font-size: 1.5rem;
    }
}

.navigation__link span {
    margin-right: 1.5rem;
    display: inline-block;
}

.navigation__link:hover {
    color: #C1D0D0;
    transform: scale(1.1);
}

.navigation__checkbox:checked~.navigation__background {
    transform: scale(80)
}

.navigation__checkbox:checked~.navigation__nav {
    width: 100%;
    visibility: visible;
    opacity: 1;
}

.navigation__icon {

    position: relative;
    margin-top: 2.5rem;
}

@media screen and (min-width: 768px) {
    .navigation__icon {
        margin-top: 3.5rem;
    }
}

.navigation__icon,
.navigation__icon::before,
.navigation__icon::after {
    display: inline-block;
    width: 2.2rem;
    height: 2px;
    background-color: #4A676A;
}

@media (min-width: 768px) {

    .navigation__icon,
    .navigation__icon::before,
    .navigation__icon::after {
        width: 3rem;
    }
}

.navigation__icon::before,
.navigation__icon::after {
    content: '';
    position: absolute;
    left: 0;
    transition: all 200ms;
}

.navigation__icon::before {
    top: -.8rem;
}

.navigation__icon::after {
    top: .8rem;
}

.navigation__button:hover .navigation__icon::before {
    top: -1rem;
}

.navigation__button:hover .navigation__icon::after {
    top: 1rem;
}

.navigation__checkbox:checked+.navigation__button .navigation__icon {
    background-color: transparent;
}

.navigation__checkbox:checked+.navigation__button .navigation__icon::before {
    top: 0;
    transform: rotate(135deg);
}

.navigation__checkbox:checked+.navigation__button .navigation__icon::after {
    top: 0;
    transform: rotate(-135deg);
}

/*-----------------------*/
#by {
    font-family: 'Arima Madurai', cursive;
    color: #4A676A;
    font-size: 10px;
    position: absolute;
    top: 22%;
    right: 2.5%;
}

#hamburger-icon {
    padding: 5px;
}

#hamburger-icon .line {
    width: 50px;
    background: #fff;
    margin: 6px 0 0 0;
    height: 5px;
    display: block;
    transition: all 800ms cubic-bezier(0.645, 0.045, 0.355, 1);
}

.line-1 {
    margin-top: 0;
}

#hamburger-icon:hover .line-1 {
    width: 30px;
}

#hamburger-icon:hover .line-2 {
    width: 40px;
}

#hamburger-icon:hover .line-3 {
    width: 20px;
}

/*sidepanel*/
.title-panel {
    text-align: center;
    position: relative;
    margin-top: 0px;
    border: 1px solid;
    padding: 10px;
}

.scroll.in-panel {
    margin-top: 5px;
}

.hm-side-menu {
    margin-top: -10px;
    margin-left: 10px;
    line-height: 0.5em;
}

.hm-side-menu ul li {
    padding: 2px;
    line-height: 0.5em;
}

.hm-side-menu ul li a {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 15px;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}

.hm-side-menu ul li a:hover {
    color: #e41201;
    -webkit-transform: translateX(10px);
    -moz-transform: translateX(10px);
    -ms-transform: translateX(10px);
    -o-transform: translateX(10px);
    transform: translateX(10px);
}

.sidepanel {
    position: fixed;
    height: 100vh;
    background-color: #070707;
    width: 20%;
    min-width: 200px;
    margin-left: -600px;
    z-index: 2;
    font-size: 1.5em;
    line-height: 1.5em;
    color: #f1f1f2;
    text-align: center;
    opacity: 0.9;
}

.sidepanel:before {
    content: '';
    position: absolute;
    height: 100vh;
    width: 10px;
    top: 0;
    left: 100%;
    z-index: 1;
}

.sidepanel ul {
    display: block;
    text-align: start;
}

.sidepanel .tab-content ul {
    margin-top: 36px;
}

.sidepanel ul.content-sub li.sub {
    padding: 10px;
}

.sidepanel ul.content-sub li.sub:hover {
    background-image: linear-gradient(to right,
            #510101 0%,
            #b8000f 51%,
            #cc001f 100%);
    background-size: 200% auto;
    color: #fff;
    transition: all 0.5s ease-in-out;
}

.sidepanel li a {
    color: #fff;
    font-size: 16px;
    text-transform: capitalize;
}

.sidepanel li a span {
    position: absolute;
    right: 2rem;
    margin-top: 10px;
    font-size: 14px;
}

.sidepanel i.close-side {
    display: block;
    position: absolute;
    color: #e41201;
    top: 0;
    right: 0;
    margin-top: 8px;
    margin-right: 5px;
}

.li-drop-menu a:hover {
    color: #e41201;
}

.li-drop-menu {
    margin-left: 10px;
}

.overlay-panel {
    position: fixed;
    height: 100vh;
    background-color: #000000;
    width: 100%;
    min-width: 100px;
    z-index: 1;
    font-size: 1.5em;
    line-height: 1.5em;
    color: #f1f1f2;
    text-align: center;
    opacity: 1;
    top: 0;
    opacity: 0.5;
}

.fixed-position {
    overflow: hidden;
}

.line {
    height: 1px;
    width: calc(100% - 44px);
    background-color: #b60c00;
    margin: 0 22px;
}

.hide {
    display: none;
}

.tab-content {
    display: none;
    padding: 15px;
}

.tab-content.current {
    display: inherit;
}

/*text banner*/
#text-banner {
    margin: 10rem;
}

.close-drop-menu {
    position: absolute;
    display: block;
    top: 0;
    right: -4rem;
    padding: 5px;
}

.close-drop-menu:hover {
    background-color: #fff;
    opacity: 0.4;
    border-radius: 50%;
    color: #000;
}

/*dropright*/
.btn {
    padding: 0.5rem 1.5rem;
    border: none;
    outline: none;
    background-color: #0f81fb;
    color: #f3f3f3;
    border-radius: 3px;
}

.btn.active {
    box-shadow: 0 0 0 0.125rem rgba(13, 128, 250, 0.5);
}

.drop-wrapper {
    position: relative;
}

.drop-menu {
    display: none;
    position: absolute;
    width: 750px;
    padding: 10px;
}

.drop-menu.active {
    display: block;
}

.dropright {
    background-color: #070707;
    height: 100vh;
    left: 100%;
    top: 1px;
}

.drop-menu .ul-drop-menu {
    margin-top: 10px;
}

.drop-menu li {
    display: inline-flex;
    width: 228px;
    line-height: 1.2;
}

.drop-menu a {
    display: block;
    text-decoration: none;
    color: #343434;
    margin-left: 10px;
}

/* Empty Items */
.empty-items {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ui-widget-content {
    background-color: #000;
    width: 38%;
    padding: 20px;
}

.ui-autocomplete {
    z-index: 1;
    position: fixed !important;
    padding: 20px;
}

.ui-autocomplete li a {
    color: #fff;
    padding-top: 10px;
}

.ui-autocomplete li.ui-menu-item:hover {
    background-color: #000 !important;
}

/*content contact*/
.row.info {
    display: flex;
}

.phone {
    background-color: #fff;
    padding: 10px;
    text-align: center;
    margin-left: 5px;
}

.mail {
    background-color: #fff;
    padding: 10px;
    text-align: center;
    margin-left: 5px;
}

.location {
    background-color: #fff;
    padding: 10px;
    text-align: center;
    margin-left: 5px;
}

/*cookies*/
.cookie-alert {
    position: fixed;
    bottom: 15px;
    left: 15px;
    width: 320px;
    margin: 0 !important;
    z-index: 999;
    opacity: 0;
    transform: translateY(100%);
    transition: all 500ms ease-out;
}

.cookie-alert.show {
    opacity: 1;
    transform: translateY(0%);
    transition-delay: 1000ms;
}

.out-of-stock {
    width: 225px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1rem 2rem;
    background-color: #e41201;
    cursor: not-allowed;
}

.out-of-stock p,
.out-of-stock span {
    color: #fff;
}

.out-of-stock span {
    font-size: 2rem;
}

.out-of-stock-ribbon p {
    position: absolute;
    top: 12px;
    right: 4px;
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transform: rotate(90deg);
}

.out-of-stock-ribbon p::before {
    content: 'Rupture de stock';
    position: absolute;
    width: 200px;
    height: 40px;
    background-color: #e41201;
    transform: rotate(-45deg) translateY(-20px);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-weight: 600;
    letter-spacing: 0.1rem;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.24);
}

.out-of-stock-ribbon p::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 10px;
    height: 10px;
    background-color: #e41201;
    z-index: -1;
    box-shadow: 140px -140px #e41201;
}

.all-alert {
    box-shadow: 0 16px 24px 2px rgba(29, 17, 51, .04), 0 6px 32px 4px rgba(9, 32, 77, .12), 0 8px 12px -5px rgba(29, 17, 51, .12);
}

/* DIV A CHAQUE LIGNE DE COMMANDE */
.order-item-container{
    display:flex;
    align-items: center;
}

.item-qty, .item-price{
    vertical-align: middle !important;
    text-align: center;
}

.cart-validation-td{
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
}

.order-item-caption{
    margin-left: 10px;
}

.slide-img {
	width: 50%;
}

.slide-row {
	display: flex;
	justify-content: center;
	align-items: center;
}