<div class="container" style="margin: 15rem auto;">
	<div class="row">
		<div class="col-md-12"  style="display: grid; justify-content: center;">
			<h4>Votre panier est actuellement vide.</h4>
			<button class="button-cart valide-cart" phx-click="link-to-product">
				<span class="single_product_addtocart">Retour à la boutique</span>
			</button>
		</div>
	</div>
</div>